body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
}

header { 
    background-color: blue;
    text-align: center;
}

header h1 {
    background-color:chartreuse;
    padding: 20px;
    margin: 0;
}

header h2 {
    padding: 20p;
    margin: 0;
}

nav { 
    background-color: grey;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

#reference {
    padding: 50%;
}