@font-face {
    font-family: Heavitas;
    src: url(fonts/Heavitas.ttf);
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

header { 
    margin-top: 80px;
    text-align: left;
    font-family: Heavitas;
}

header h1 {
    color: white;
    padding: o;
    margin: 0;
    margin-left: 10%;
    font-size: 30px;
}

header h2 {
    font-size: 90px;
    padding: 0;
    margin: 0;
    margin-left: 10%;
    color: white;
}

nav { 
    background-color: rgba(128, 128, 128, 0);
}

nav ul {
    list-style: none;
    padding: 5px;
    text-align: center;
    margin: 0;
}

nav ul li {
    padding: 3px;
    padding-left: 7%;
    padding-right: 7%;
    display: inline;
}

nav ul li:hover {
    display: inline;
    background: white;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Verdana, sans-serif;

}

#reference {
    padding: 50%;
}

footer {
    width: 100%;
}

footer p {
    text-align: center;
}